.navigation {
  /* overflow: hidden; */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: black;
  margin-bottom: 10px;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
}


.navigation a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
}

div.element{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a.navlast{
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
}

/* Links - change color on hover */
.navigation a:hover {
  background-color: white;
  color: black;
}


/*Left column for Personal Info*/
.leftcolumn {   
    float: left;
    margin-top: 3px;
    width: 25%;
}
  
  /* Right column  for details*/
.rightcolumn {
    float: left;
    margin-top: 3px;
    width: 75%;
    padding-left: 40px;
}
  
@media screen and (max-width: 800px){
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0 0;
}